	<link href="{res file='css/user.css'}" rel="stylesheet" type="text/css" />

<div class="eject_con">
  <div class="add">
    <div id="warning"></div>
    <form method="post" action="{$action}" id="address_form" target="iframe">
		<input type="hidden"  name="is_send" value="{$extro_info.is_send}"/>
		<input type="hidden"  name="is_error" value="{$extro_info.is_error}"/>
      <ul>
        <li>
          <h3>收货人(祝?): </h3>
          <p>
			  <!-- {if $defaultAddress} -->
			  <select class="querySelect chooseUser" name="choose_user">
			  			<option value="">--选择收货人--</option>
			  			{html_options options=$defaultAddress}
			   </select>
			    <!-- {/if} --> 
            <input type="text" class="text I_Consignee consignee" name="consignee" value="{$extro_info.consignee|escape}"/>
            <label class="field_message"><span class="field_notice">{$lang.consignee_desc}</span></label>
          </p>
		  <div class="I_Consignee_list"></div>
        </li>
        <li>
          <h3>{$lang.region}: </h3>
          <p>
          <div id="region">
            <input type="hidden" name="region_id" value="{$extro_info.region_id}" id="region_id" class="mls_id" />
            <input type="hidden" name="region_name" value="{$extro_info.region_name|escape}" class="mls_names" />
            <!-- {if $extro_info.region_id} --> 
            <span>{$extro_info.region_name|escape}</span>
            <input type="button" value="{$lang.edit}" class="edit_region" />
            <select style="display:none" onchange="hide_error();">
              <option>{$lang.select_pls}</option>
              
                          {html_options options=$regions}
                        
            </select>
            <!-- {else} -->
            <select onchange="hide_error();">
              <option>{$lang.select_pls}</option>
              
                          {html_options options=$regions}
                        
            </select>
            <!-- {/if} --> 
            <b class="field_message" style="font-weight:normal;">
            <label class="field_notice"></label>
            </b> </div>
          </p>
        </li>
        <li>
          <h3>{$lang.address}: </h3>
          <p>
            <input type="text" class="text width_normal I_Address" name="address" value="{$extro_info.address|escape}"/>
            <label class="field_message"><span class="field_notice">{$lang.address_desc}</span></label>
          </p>
        </li>
		<li>
      <h3>落款(赠送人): </h3>
		  <p>
		    <input type="text" class="text width_normal" name="signature" value="{$extro_info.signature|escape}"/>
		    <label class="field_message"><span class="field_notice">签名落款，代表谁送的，多个用“逗号”隔开。</span></label>
		  </p>
		</li>
		<li>
      <h3>订货人(结款): </h3>
		  <p>
		    <input type="text" class="text width_normal" name="subscriber" value="{$extro_info.subscriber|escape}"/>
		    <label class="field_message"><span class="field_notice">{$lang.subscriber_desc}</span></label>
		  </p>
		  <h3 style="color: #00aaff;">年结单客户: </h3>
		  <p style="line-height: 24px;">
		  	<label>
		  	  <input type="radio"  style="margin-right:5px;" name="is_year" value="0" {if $extro_info.is_year eq 0}checked="checked"{/if} />
		  	  {$lang.no} </label>
		  	<label>
		  	<input type="radio" name="is_year" value="1" {if $extro_info.is_year eq 1}checked="checked"{/if} />
		  	{$lang.yes} </label>
		  </p>
		</li>
  
        
         
        <li>
          <h3>{$lang.phone_mob}:</h3>
          <p>
            <input type="text" class="text width_normal" name="phone_mob" value="{$extro_info.phone_mob}"/>
            <label class="field_message"><span class="field_notice">{$lang.phone_mob}</span></label>
          </p>
        </li>
  <li>
          <h3>祝福语:</h3>
          <p>
            <textarea id="remark_input" class="text width_normal"  class="text" name="content" 
            value="{$extro_info.content|escape}"   style="width:270px;height:90px;" placeholder="如：”开业大吉，生意兴隆“">{$extro_info.content|escape}</textarea>
            <label class="field_message"><span class="field_notice">如：”开业大吉，生意兴隆“</span></label>
          </p>
        </li> 
		<li>
		  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纪念日:</h3>
		  <p style="line-height: 24px;">
			  <select class="querySelect" name="what_day">
				<option value="">--选择纪念日--</option>
				{html_options  values=$whatdays output=$whatdays selected=$extro_info.what_day}
			  </select>
		  </p>
		  <p>
		  
		  	<a href="javascript:;" ectype="dialog" dialog_title="{$lang.add_address}" dialog_id="my_address_add" 
		  			dialog_width="600" class="btn-new-addr"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  			配送时间</a>
		  	<input class="queryInput" type="text" value="{$extro_info.send_date}" id="send_date"
		  	  name="send_date" class="pick_date" />
		  
		   
		  </p>
		  
		  
		  
		  
		</li>
      </ul>
      <div class="submit">
		  <input type="hidden" name="order_id" value="{$extro_info.order_id}" />
      	<input type="hidden" name="redirect" value="{$redirect}" />
        <input type="submit" class="btn" value="{$lang.submit}" />
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
$(function(){
    regionInit("region");
	/* 订单配送时间 */
	// $('#send_date').datepicker({ dateFormat: 'yy-mm-dd' });
	 $('#send_date').datetimepicker({
	   timeText: '时间',
	   hourText: '小时',
	   minuteText: '分钟',
	   secondText: '秒',
	   currentText: '现在',
	   closeText: '完成',
	   showSecond: true, //显示秒  
	   timeFormat: 'HH:mm:ss' ,//格式化时间
	 });
	 $('.chooseUser').change(function(){
	  $('.I_Consignee ').val($(this).find("option:selected").text());
	 	$.getJSON("{url route='my_address/search'}", { 'keyword' : $(this).find("option:selected").text()}, function(data) {
	 		html = '';
	 		if(data.code == 0 && data.count>0) {
	 			$('.I_Address').val(data.data[0].address);
	 			
	 			$.each(data.data,function(i, item){	
	 				html += '<li style="padding: 10px 0 0;color:#FF8800;">[地址]('+(i+1)+'): <span>'+item.address+'</span></li>';
	 			});
	 			$('.I_Consignee_list').html("<ul>"+html+"</ul>");
	 		}else{
	 			$('.I_Consignee_list').html("");
	 		}
	 	});
	 }); 
	 $('.I_Consignee').change(function(){
	  
	 	$.getJSON("{url route='my_address/search'}", { 'keyword' : $('.I_Consignee').val()}, function(data) {
	 		html = '';
	 		if(data.code == 0 && data.count>0) {
	 			$('.I_Address').val(data.data[0].address);
	 			$.each(data.data,function(i, item){	
	 				html += '<li style="padding: 10px 0 0;color:#FF8800;">[地址]('+(i+1)+'): <span>'+item.address+'</span></li>';
	 			});
	 			$('.I_Consignee_list').html("<ul>"+html+"</ul>");
	 		}else{
	 			$('.I_Consignee_list').html("");
	 		}
	 	});
	 }); 
});
</script>