	<link href="{res file='css/user.css'}" rel="stylesheet" type="text/css" />

<div class="eject_con">
  <div class="add">
    <div id="warning"></div>
    <form method="post" action="{$action}" id="address_form" target="iframe">
      <ul>
        <li class="B_Consignee">
          <p>
            <input type="text" class="text width_normal I_Consignee" placeholder="输入商品ID" name="goods_id" value="{$orderExt.goods_id}"/>
            <label class="field_message"><span class="field_notice"><a href="{url route='/goods' id=$orderExt.goods_id}" target="_blank">[查看]</a>
			详情页查看(无效ID:<i class="isError_id" data-id="407" style="cursor: pointer;">407</i>)</span></label>
          </p>
		  <div class="I_Consignee_list"></div>
        </li>
		</ul>
      <div class="submit">
      	<input type="hidden" name="redirect" value="{$redirect}" />
		<input type="hidden" name="order_id" value="{$order_id}" />
		<input type="hidden" name="from" value="{$from}" />
        <input type="submit" class="btn" value="{$lang.submit}" />
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  var defaultUser = "{$defaultUser['real_name']}";
$(function(){
    regionInit("region");
    $('.default-user').click(function(){
        $('.subscriber').val($(this).val())
    })
	$('.isError_id').click(function(e){
		 $('.I_Consignee').val($(this).data('id'))
	})
});
</script>