{include file="header.byhh.html"}
<div id="main">
  <div id="rightCon" class="clearfix layui-body" style="left:0;top:70px;">
    <div class="scroller" style="padding:0;">
      <div class="search-form clearfix" style=" position: absolute;z-index: 999999;padding:10;margin:0;margin-top:0px;width:100%;">
        <form method="get" id="formSearch">
        <div class="webkit-box box-align-center">
          <input type="hidden" name="r" value="orderbyhh/index" />
          <label class="mr5">搜索关键词类型</label>
          <select class="querySelect classSelect" name="field">
            <option value="">--选择关键词类型--</option>
            {html_options options=$search_options selected=$smarty.get.field}
          </select>
          <input class="infoTableInput mr10" placeholder="输入搜索关键词" type="text" name="search_name" value="{$smarty.get.search_name|escape}" />
          <label class="mr5">{$lang.search_status}</label>
          <select class="querySelect" name="status">
            <option value="">{$lang.no_limit}</option>
            {html_options options=$status_list selected=$smarty.get.status}
          </select>
          {$lang.order_amount_from}
          <input class="queryInput2" type="text" value="{$smarty.get.order_amount_from}" name="order_amount_from" />
          {$lang.order_amount_to}
          <input class="queryInput2" type="text" style="width:60px;" value="{$smarty.get.order_amount_to}"
            name="order_amount_to" class="pick_date" />
          </div>
          <div class="webkit-box box-align-center mt20">
          <label class="mr5">年结客户</label>
          <select class="querySelect buyerSelect" name="real_name" >
            <option value="">--选择客户名称--</option>
            {html_options  values=$userBill output=$userBill selected=$smarty.get.real_name}
          </select>

          {$lang.add_time_from}
          <input class="queryInput" type="text" value="{$smarty.get.add_time_from}" id="add_time_from"
            name="add_time_from" class="pick_date" />
          {$lang.add_time_to}
          <input class="queryInput" type="text" value="{$smarty.get.add_time_to}" id="add_time_to" name="add_time_to"
            class="pick_date" />
          <input type="submit" class="layui-btn layui-bg-blue layui-btn-sm block width7" value="{$lang.query}" />
          <!--{if $filtered}-->
          <a class="layui-btn layui-btn-primary layui-btn-sm box-align-center" href="{url route='orderbyhh/index'}">{$lang.cancel_query}</a>
          <!--{/if}-->
          </div>
        </form>
      </div>
	  
	  {literal}
	  <style type="text/css">
	  .layui-table-tips-main{
		max-height:450px;
		/*min-height:400px;*/
		}
		.layui-table-main img{width:40px;height:40px}
.layui-table-view .layui-form {
  margin-bottom: 0; /* 移除默认的底部距离 */
}
 
.layui-table-box .layui-table-body table {
  margin-top: 42px; /* 为表格顶部留出足够空间放置分页 */
}
 
/* 调整分页样式 */
.layui-table-page {
/*background-color: #ffffff;*/
  margin: 0 ;
  position: absolute;
  top: 15px;
  left: 77%;
  width:35%;
  z-index: 999999;
  transform: translateX(-25%); /* 水平居中分页 */
  border-color: #ffffff;
}
.layui-table-box .layui-table-body table {
    margin-top: 0px;
}
.layui-table-tool .layui-btn-container {
    margin-bottom: -20px;
}
.layui-table,.layui-table-view {
    margin: 120px 0;
}
.layui-table-tool {padding-left:5px;}
.layui-table-page>div {
    transform: translateX(2%); /* 水平居中分页 */
}
.layui-table-cell {

    padding: 0 ; 

}
	  </style>
	  {/literal} 
	  
	  
      <div class="tablegrid1">
		 
          <table class="layui-hide" id="tablegrid" lay-filter="tablegrid"></table>
		   
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
	  <button class="layui-btn layui-btn-primary layui-bg-blue" lay-event="export"><i class="layui-icon layui-icon-export"></i>导出数据</button>
	<a class="layui-btn layui-btn-primary layui-bg-orange" href="javascript:;" uri="{url route='orderbyhh/cuser'}" dialog_width="600" dialog_title="创建用户" ectype="dialog"
	dialog_id="seller_order_adjust_fee" id="order{$order.orderExtm.order_id}_action_adjust_fee" ><i class="layui-icon layui-icon-username"></i>创建用户</a> 
	<a class="layui-btn layui-btn-primary layui-bg-green" href="javascript:;" uri="{url route='orderbyhh/caddress'}" dialog_width="600" dialog_title="创建地址" ectype="dialog"
	dialog_id="seller_order_adjust_fee" id="order{$order.orderExtm.order_id}_action_address" ><i class="layui-icon layui-icon-location"></i>创建地址</a>
	</div>
	</div>
</script>

 
<script type="text/html" id="colBar">
  <a class="ml5 mr5 blue pointer layui-btn layui-bg-blue layui-btn-sm"  lay-event="open_printed">开业打印</a>
   <a class="ml5 mr5 yellow pointer layui-btn layui-bg-orange layui-btn-sm" lay-event="other_printed">其他打印</a>
  <a class="ml5 mr5 blue pointer layui-btn layui-bg-green layui-btn-sm" lay-event="view">查看</a>
</script>
<script>
  layui.use('table', function () 
  {
    var table = layui.table;

    table.render({
	elem: '#tablegrid',
	title:'订单表'
	//,skin: 'line'
	,page: true // 开启分页
	, url: url(['orderbyhh/index', $("#formSearch").serializeJson()])
	, toolbar: '#toolbar'
	,limit:14
	, defaultToolbar: ['filter', /*'exports',*/ 'print']
	, title: '订单列表'
	//, size: 'lg'
	,done: function(res, curr, count){
	      // 将分页的元素移动到指定位置
	      //document.getElementById('tablegrid-page').innerHTML = '';
	     // document.getElementById('tablegrid').parentNode.insertBefore(document.getElementById('tablegrid-page'), document.getElementById('tablegrid').nextSibling);
		//console.log('To:',res, curr, count)
	
			// 自定义页码布局
			/*
	    var laypage = table.render({
	        elem: 'tablegrid-page' //注意，这里的 elem 是一个模拟的id，不存在于实际的html中，仅用于指引laypage
	        ,count: count //数据总数
	        ,limit: res.limit //每页显示的数量
	        ,curr: curr //当前页
	        ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'] //自定义布局
	        ,jump: function(obj, first){
	          //obj包含了分页的所有参数，比如：
	          //console.log(obj.curr); //当前页码
	          //console.log(obj.limit); //每页显示条数
	          //首次不执行
	          if(!first){
	            //do something
	          }
	        }
		})
		*/
	
	}
	, cols: [[
	{ type: 'checkbox', fixed: 'left', width: 30,}
    , { field: 'order_id', title: 'ID', width: 40, fixed: 'left', unresize: true, sort: true ,templet:function(res){
          return "<i uri='{url route='orderbyhh/editgood' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_upgood' dialog_id='seller_order_upgood'  ectype='dialog' dialog_width='450' dialog_title='变更订单商品'  style='cursor: pointer;color:#FF8800;' lay-event='goodsUpdate'>"+res.order_id+"</i>";
        }}
    , { field: 'goods_image', title: '图片', width: 35,templet:function(res){
				return '<img src='+res.goods_image+' />' ;
			}}
	, { field: 'goods_name', title: '标题', width: 190 ,templet:function(res){
		return res.goods_name+"("+res.quantity+")";
		if(res.what_day == '生日'){
			return "<i uri='{url route='orderbyhh/class' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_whatday' dialog_id='seller_order_whatday'  ectype='dialog' dialog_width='400' dialog_title='纪念日' class='layui-icon layui-icon-gift' style='cursor: pointer;color:#FF8800;' lay-event='goodsClass'></i> <a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"("+res.quantity+")</a>";
		}else if(res.what_day == '开业'){
			return "<i uri='{url route='orderbyhh/class' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_whatday' dialog_id='seller_order_whatday'  ectype='dialog' dialog_width='400' dialog_title='纪念日' class='layui-icon layui-icon-tree' style='cursor: pointer;color:#00AA00;' lay-event='goodsClass'></i> <a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"("+res.quantity+")</a>"
		}else if(res.what_day == '七夕'){
			return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"("+res.quantity+")</a>"
		}else if(res.what_day == '情人节'){
			return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"("+res.quantity+")</a>"
		}else if(res.what_day == '结婚'){
			return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"("+res.quantity+")</a>"
		}else if(res.what_day == '结婚纪念日'){
			return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"("+res.quantity+")</a>"
		}else if(res.what_day == '三八妇女节'){
			return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"("+res.quantity+")</a>"
		}else{
			return "<i uri='{url route='orderbyhh/class' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_whatday' dialog_id='seller_order_whatday'  ectype='dialog' dialog_width='400' dialog_title='纪念日' class='layui-icon layui-icon-help' style='cursor: pointer;color:#00aaff;' lay-event='goodsClass'></i> <a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"("+res.quantity+")</a>"
		}
	}}
	
	, { field: 'consignee', title: '收货人', width: 110 ,align: 'center',style:'color: #FF8800;',templet:function(res){
		return "<em class='layui-icon layui-icon-dialogue consignee' lay-event='viewContent'    style='color:#00aaff;'></em>"+res.consignee;//+'('+res.buyer_name+')' ;
	}}
	, { field: 'address', title: '收货地址', width: 220 ,align: 'center',style:'color: #FF8800;',templet:function(res){
		
		return '<a href="JavaScript:;"   dialog_title="修改收货人信息" ectype="dialog" '
		 +"uri={url route='orderbyhh/extro' redirect=$redirect }?order_id="+res.order_id
		 +" dialog_id='my_address_extro' name='order_id'>"
		 +"<i class='layui-icon layui-icon-edit'  style='cursor: pointer;color:#ff0000;'></i></a>"+ res.address;
	}}
	, { field: 'signature', title: '签名落款', width: 140 ,align: 'center',style:'color: #FF8800;'}
	, { field: 'real_name', title: '买货人(*订花人*)', width: 140 ,align: 'center',style:'color: #00AA00;',templet:function(res){
		return '<a href="JavaScript:;" dialog_width="550"   dialog_title="修改订花人信息" ectype="dialog" '
		 +"uri={url route='orderbyhh/editbuyer' redirect=$redirect }?order_id="+res.order_id
		 +" dialog_id='my_address_extro' name='order_id'>"
		 +"<i class='layui-icon layui-icon-edit'  style='cursor: pointer;color:#ff0000;'></i></a>"+ res.real_name;		
	}}
	
	, { field: 'goods_amount', title: '售价', width: 80, sort: true, align: 'center' ,templet:function(res){
		return "<span style=' text-decoration: line-through;color:red;'>"+res.goods_amount+"</span>"
	} }
	, { field: 'shipping_fee', title: '运费', width: 80, sort: true, align: 'center' ,templet:function(res){
		
		return "<i uri='{url route='orderbyhh/cdelivery' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_delivery'"
		+" dialog_id='seller_order_delivery'  ectype='dialog' dialog_width='450' dialog_title='配送人'"
				+" class='layui-icon layui-icon-release' style='cursor: pointer;color:#00ffff;' lay-event='goodsDelivery'></i>"
				+"<span style=' text-decoration: line-through;color:red;'>"+res.shipping_fee+"</span>"
	} }
	, { field: 'order_amount', title: '金额', width: 80, sort: true, align: 'center',templet:function(res){
		return "<span style='color:#00AA00;' controller='orderbyhh' fieldid='"+res.order_id+"' fieldname='order_amount'  ectype='inline_edit' >"+res.order_amount+"</span>"
	} }
	, { field: 'real_name', title: '配送时间(预订)', width: 120 ,align: 'center',style:'color: #00ff00;',templet:function(res){
		return '<a href="JavaScript:;"  dialog_width="450"   dialog_title="修改配送时间" ectype="dialog" '
		 +"uri={url route='orderbyhh/extro' redirect=$redirect }?from=send_date&order_id="+res.order_id
		 +" dialog_id='my_address_extro' name='order_id'>"
		 +"<i class='layui-icon layui-icon-edit'  style='cursor: pointer;color:#ff0000;'></i></a>"+ res.send_date;		
	}}
	, { field: 'add_time', title: '下单时间', width: 170, sort: true, align: 'center' }
	, { field: 'status', title: '支付状态', width: 100, sort: false, align: 'center',templet:function(res){
		//console.log(res);
		if(res.status == '交易完成'){
			res.status = '<font color=green>'+res.status+'</font>';
		}
		else if(res.status == '交易关闭'){
			return "<i uri='{url route='orderbyhh/editstatus' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_delivery' "
			+"class='layui-icon layui-icon-play'  dialog_id='seller_order_open'  ectype='dialog' dialog_width='550' dialog_title='开启已关闭订单'"
					+" style='cursor: pointer; color:#ffaaff;'></i>"+res.status;
				
			//res.status = '<font color=gray>'+res.status+'</font>';
		}
		else if(res.status == '等待买家付款'){
			res.status =  "<a href='javascript:;' lay-event='goodsPay' class='layui-btn layui-bg-red layui-btn-sm' style='color:red'><i class='layui-icon layui-icon-rmb'></i>付款</a>"  ;
		}
		else if(res.status == '等待卖家发货'){
			res.status =  "<a href='javascript:;' uri='{url route='seller_order/shipped' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_shipped' ectype='dialog' dialog_width='400' dialog_title='待发货' dialog_id='seller_order_shipped' class='layui-btn layui-bg-cyan layui-btn-sm' style='color:blue'>待发货</a>"  ;
		}
		else if(res.status == '卖家已发货'){
			res.status =  "<a href='javascript:;' uri='{url route='buyer_order/confirm' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_shipped'  ectype='dialog' dialog_width='400' dialog_title='待发货' dialog_id='seller_order_shipped' class='layui-btn layui-bg-blue layui-btn-sm' style='color:blue'>待收货</a>"  ;
		}
		else if(res.refund_status == 'SUCCESS'){
			res.status = '<font color=red>退款成功</font>';
		}
		return res.status  ;
	}}	  
	, { field: 'payment_name', title: '方式', width: 90, sort: true, align: 'center' }
	, { field: 'pay_time', title: '付款时间', width: 170, sort: true, align: 'center' }
	, { field: 'finished_time', title: '完成时间', width: 170, sort: true, align: 'center' },
	, { field: 'store_name', title: '店名', width: 90 }
	/* , { fixed: 'right', title: '支付方式', width: 90, sort: false, align: 'center',templet:function(res){
	 		return res.payment_name  ;
	  }}*/
	, { fixed: 'right', title: '操作', toolbar: '#colBar', width: 260, align: 'center'},
	
	
      ]]
      , page: {
        theme: 'blue'
      }
    });
 
    //监听头工具栏事件
    table.on('toolbar(tablegrid)', function (obj) {
      var checkStatus = table.checkStatus(obj.config.id);
      if (checkStatus.data.length <= 0) {
        return alert("请选择要导出的数据^_^");
      }
      var items = new Array();
      $.each(checkStatus.data, function (i, item) {
        items.push(item.order_id);
      });

      if (obj.event === 'export') {
        window.location.href = url(['orderbyhh/export', $.extend($("#formSearch").serializeJson(), { id: items.join(',') })]);
      }
    });

    //监听行工具事件
    table.on('tool(tablegrid)', function (obj) {
		var data = obj.data;
		if(obj.event === 'open_printed'){
			window.open(url(['order_printed/lists', { order_id: data.order_id ,cate_id:22}]));
		}else if(obj.event === 'other_printed'){
			window.open(url(['order_printed/lists', { order_id: data.order_id,cate_id:21 }]));
		}else if(obj.event === 'goodsPay'){
			//window.open(url(['cashier/index', { order_id: data.order_id }]));
			//return console.log(url(['cashier/index', { order_id: data.order_id ,'from':'orderbyhh'}]));
			location.href = url(['cashier/index', { order_id: data.order_id ,'from':'orderbyhh'}]);
		}else if(obj.event === 'goodsView'){
			window.open(url(['goods/index', { id: data.goods_id }]));
		}else if(obj.event === 'goodsClass'){

		}else if(obj.event === 'view'){
			window.open(url(['buyer_order/view', { order_id: data.order_id }]));
		}else if(obj.event === 'viewContent'){
			$('.content-box').text(data.content);
			$('#p_content').show();
		}else if(obj.event === 'edit'){
			alert("功能暂未开通！")
		}else if(obj.event === 'del'){
			alert("功能暂未开通！")
		}else{

		}
    });
  });

  $(function () {
	$('.layui-icon-close').click(function(){
		$('#p_content').hide();
	})
    $('#add_time_from').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#add_time_to').datepicker({ dateFormat: 'yy-mm-dd' });
	$('.buyerSelect').change(function(){
		$(".classSelect option[value='real_name']").attr("selected", true);    //设置Select的Text值为"买家实名"的项选中 
		$('.infoTableInput').val($(this).find("option:selected").text());
	})
  });
</script>
<iframe id="iframe" name="iframe" src="about:blank" frameborder="0" width="0" height="0" style="display:none"></iframe>


<div class="layui-layer layui-layer-tips layui-table-tips" id="p_content" type="tips" times="1" showtime="-1" 
contype="object" style="z-index: 19891015; position: absolute; left: 650px;width:300px; top: 260px;display:none;">
	<div id="" class="layui-layer-content">
		<div class="layui-table-tips-main" style="margin-top: -48px;padding: 30px;">
			<p class="content-box"></p>
		</div>
		<i class="layui-icon layui-table-tips-c layui-icon-close"></i>
	</div>
	<span class="layui-layer-setwin"></span>
</div>
{include file="footer.byhh.html"}
