	<link href="{res file='css/user.css'}" rel="stylesheet" type="text/css" />

<div class="eject_con">
  <div class="add">
    <div id="warning"></div>
    <form method="post" action="{$action}" id="address_form" target="iframe">
      <ul>
        <li class="B_Con">
          <h3 style="font-size: 14px;">订花人: </h3>
          <p>
            <input type="text" class="text width_normal I_Con" placeholder="输入你需要搜索的用户名称" name="consignee" value="{$delivery.consignee|escape}"/>
            <label class="field_message"><span class="field_notice">付款人信息</span></label>
          </p>
		  <div class="I_Consignee_list"></div>
        </li>
		<li>
		  <h3 style="font-size: 14px;">用户ID:</h3>
		  <p>
		    <input type="text" class="text width13" placeholder="输入用户ID" name="userid" value=""/>
		    <label class="field_message"><span class="field_notice">上面搜索结果的用户ID、没有需创建用户</span></label>
		  </p>
		</li>
      </ul>
      <div class="submit">
		<input type="hidden" name="order_id" value="{$order_id}" />
      	<input type="hidden" name="redirect" value="{$redirect}" />
		<input type="hidden" name="from" value="{$from}" />
        <input type="submit" class="btn" value="{$lang.submit}" />
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  var defaultUser = "{$defaultUser['real_name']}";
$(function(){
    regionInit("region");
    $('.default-user').click(function(){
        $('.subscriber').val($(this).val())
    })
	$('.B_Con .I_Con').change(function(){
		$.getJSON("{url route='orderbyhh/search'}", { 'keyword' : $('.I_Con').val(),'from':'buyerform'}, function(data) {
			html = '';
			if(data.code == 0 && data.count>0) {
				$.each(data.data,function(i, item){
					html += '<li style="width:538px;padding: 10px 0 0;color:#FF8800;">[搜索结果]('+(i+1)+'):&nbsp;&nbsp;&nbsp;&nbsp;  <span>用户ID='+item.userid+'&nbsp;&nbsp;&nbsp;&nbsp; 用户名='+item.real_name+'</span></li>';
				});
				$('.I_Consignee_list').html("<ul style='width:538px;'>"+html+"</ul>");
			}else{
				$('.I_Consignee_list').html(""); 
			}
		});
	}); 
});
</script>