	<link href="{res file='css/user.css'}" rel="stylesheet" type="text/css" />

<div class="eject_con">
  <div class="add">
    <div id="warning"></div>
    <form method="post" action="{$action}" id="address_form" target="iframe">
      <ul>
		  
		  <li class="B_Con">
		    <h3>配送人选择:</h3>
		    <p style="line-height: 24px;">
		  	  <select class="querySelect I_Con" name="s_consignee">
		  		<option value="">--选择配送人--</option>
		  		{html_options  values=$deliveryUsers output=$deliveryUsers selected=$delivery.consignee}
		  	  </select>
		    </p>
			 <div class="I_Consignee_list"></div>
		  </li>
		 
        <li >
          <h3>配送人: </h3>
          <p>
            <input type="text" class="text width_normal I_consignee" name="consignee" value="{$delivery.consignee|escape}"/>
            <label class="field_message"><span class="field_notice">配送人信息</span></label>
          </p>
		 
        </li>
 
        <li>
          <h3>配送费￥: </h3>
          <p>
            <input type="text" class="text width_normal I_amount" name="amount" value="{$delivery.amount|escape}"/>
            <label class="field_message"><span class="field_notice">配送金额</span></label>
          </p>
        </li>
        <li>
          <h3>{$lang.phone_mob}:</h3>
          <p>
            <input type="text" class="text width_normal I_phone_mob" name="phone_mob" value="{$delivery.phone_mob}"/>
            <label class="field_message"><span class="field_notice">{$lang.phone_mob}</span></label>
          </p>
        </li>
      </ul>
      <div class="submit">
		<input type="hidden" name="order_id" value="{$order_id}" />
		<input type="hidden" name="delivery_id" value="{$delivery.delivery_id}" />
      	<input type="hidden" name="redirect" value="{$redirect}" />
		<input type="hidden" name="from" value="{$from}" />
        <input type="submit" class="btn" value="{$lang.submit}" />
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  var defaultUser = "{$defaultUser['real_name']}";
$(function(){
    regionInit("region");
    $('.default-user').click(function(){
        $('.subscriber').val($(this).val())
    })
	$('.B_Con .I_Con').change(function(){
		$.getJSON("{url route='orderbyhh/search'}", { 'keyword' : $('.I_Con').val(),'from':'delivery'}, function(data) {
			html = '';
			if(data.code == 0 && data.count>0) {
				$('.I_consignee').val(data.data.consignee);
				$('.I_phone_mob').val(data.data.phone_mob);
			}else{
				 
			}
		});
	}); 
});
</script>