{include file="header.byhh.html"}
<div id="main">
  <div id="rightCon" class="clearfix layui-body" style="left:0;top:70px;">
    <div class="scroller" style="padding:0;">
      <div class="search-form clearfix" style="padding:10;margin:0;margin-top:10px;">
        <form method="get" id="formSearch">
        <div class="webkit-box box-align-center">
          <input type="hidden" name="r" value="orderbyhh/index" />
          <label class="mr5">搜索关键词类型</label>
          <select class="querySelect classSelect" name="field">
            <option value="">--选择关键词类型--</option>
            {html_options options=$search_options selected=$smarty.get.field}
          </select>
          <input class="infoTableInput mr10" placeholder="输入搜索关键词" type="text" name="search_name" value="{$smarty.get.search_name|escape}" />
          <label class="mr5">{$lang.search_status}</label>
          <select class="querySelect" name="status">
            <option value="">{$lang.no_limit}</option>
            {html_options options=$status_list selected=$smarty.get.status}
          </select>
          {$lang.order_amount_from}
          <input class="queryInput2" type="text" value="{$smarty.get.order_amount_from}" name="order_amount_from" />
          {$lang.order_amount_to}
          <input class="queryInput2" type="text" style="width:60px;" value="{$smarty.get.order_amount_to}"
            name="order_amount_to" class="pick_date" />
          </div>
          <div class="webkit-box box-align-center mt20">
          <label class="mr5">年结客户</label>
          <select class="querySelect buyerSelect" name="real_name" >
            <option value="">--选择客户名称--</option>
            {html_options  values=$userBill output=$userBill selected=$smarty.get.real_name}
          </select>

          {$lang.add_time_from}
          <input class="queryInput" type="text" value="{$smarty.get.add_time_from}" id="add_time_from"
            name="add_time_from" class="pick_date" />
          {$lang.add_time_to}
          <input class="queryInput" type="text" value="{$smarty.get.add_time_to}" id="add_time_to" name="add_time_to"
            class="pick_date" />
          <input type="submit" class="layui-btn layui-bg-blue layui-btn-sm block width7" value="{$lang.query}" />
          <!--{if $filtered}-->
          <a class="layui-btn layui-btn-primary layui-btn-sm box-align-center" href="{url route='orderbyhh/index'}">{$lang.cancel_query}</a>
          <!--{/if}-->
          </div>
        </form>
      </div>
	  
	  {literal}
	  <style type="text/css">
	  .layui-table-tips-main{
		max-height:450px;
		/*min-height:400px;*/
		}
	  </style>
	  {/literal} 
      <div class="tablegrid1">
        <table class="layui-hide" id="tablegrid" lay-filter="tablegrid"></table>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
	  <button class="layui-btn layui-btn-primary layui-bg-blue" lay-event="export"><i class="layui-icon layui-icon-export"></i>导出数据</button>
	<a class="layui-btn layui-btn-primary layui-bg-orange" href="javascript:;" uri="{url route='orderbyhh/cuser'}" dialog_width="450" dialog_title="创建用户" ectype="dialog"
	dialog_id="seller_order_adjust_fee" id="order{$order.orderExtm.order_id}_action_adjust_fee" ><i class="layui-icon layui-icon-username"></i>创建用户</a> 
	</div>
	</div>
</script>

 
<script type="text/html" id="colBar">
  <a class="ml5 mr5 blue pointer layui-btn layui-bg-blue layui-btn-sm"    lay-event="printed">打印</a>
  <a class="ml5 mr5 blue pointer layui-btn layui-bg-green layui-btn-sm" lay-event="view">查看</a>
</script>
<script>
  layui.use('table', function () 
  {
    var table = layui.table;

    table.render({
      elem: '#tablegrid'
      //,skin: 'line'
      , url: url(['orderbyhh/index', $("#formSearch").serializeJson()])
      , toolbar: '#toolbar'
	  ,limit:14
      , defaultToolbar: ['filter', /*'exports',*/ 'print']
      , title: '订单列表'
      //, size: 'lg'
      , cols: [[
        { type: 'checkbox', fixed: 'left', width: 30,}
    , { field: 'order_id', title: 'ID', width: 60, fixed: 'left', unresize: true, sort: true ,templet:function(res){
          return res.order_id;
        }}
    , { field: 'goods_image', title: '图片', width: 60,templet:function(res){
				return '<img src='+res.goods_image+' style="with:60px;"/>' ;
			}}
		, { field: 'goods_name', title: '标题(*款式*)', width: 250 ,templet:function(res){
			if(res.what_day == '生日'){
				return "<i class='layui-icon layui-icon-gift' style='color:#FF8800;'></i> <a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"</a>";
			}else if(res.what_day == '开业'){
				return "<i class='layui-icon layui-icon-tree' style='color:#00AA00;'></i> <a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"</a>"
			}else if(res.what_day == '七夕'){
				return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"</a>"
			}else if(res.what_day == '情人节'){
				return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"</a>"
			}else if(res.what_day == '结婚'){
				return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"</a>"
			}else if(res.what_day == '结婚纪念日'){
				return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"</a>"
			}else if(res.what_day == '三八妇女节'){
				return  "<a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"</a>"
			}else{
				return "<i class='layui-icon layui-icon-help' style='color:#00aaff;'></i> <a href='javascript:;' lay-event='goodsView'>"+res.goods_name+"</a>"
			}
		}}
    , { field: 'store_name', title: '店名', width: 90 }
    , { field: 'consignee', title: '收货人(*收花人*)', width: 110 ,align: 'left',style:'color: #FF8800;',templet:function(res){
				return "<em class='layui-icon layui-icon-dialogue consignee' lay-event='viewContent'    style='color:#00aaff;'></em>"+res.consignee;//+'('+res.buyer_name+')' ;
			}}
		, { field: 'address', title: '收货地址', width: 170 ,align: 'center',style:'color: #FF8800;'}
		, { field: 'signature', title: '签名落款', width: 140 ,align: 'center',style:'color: #FF8800;'}
		, { field: 'real_name', title: '买货人(*订花人*)', width: 140 ,align: 'center',style:'color: #00AA00;',templet:function(res){
				return res.real_name;//+'('+res.buyer_name+')' ;
			}}
		, { field: 'goods_amount', title: '售价', width: 100, sort: true, align: 'center' ,templet:function(res){
		return "<span style=' text-decoration: line-through;color:red;'>"+res.goods_amount+"</span>"
	} }
		, { field: 'shipping_fee', title: '运送费', width: 100, sort: true, align: 'center' ,templet:function(res){
		return "<span style=' text-decoration: line-through;color:red;'>"+res.shipping_fee+"</span>"
	} }
	, { field: 'order_amount', title: '金额', width: 100, sort: true, align: 'center',templet:function(res){
		return "<span style='color:#00AA00;' controller='orderbyhh' fieldid='"+res.order_id+"' fieldname='order_amount'  ectype='inline_edit' >"+res.order_amount+"</span>"
	} }
	
    
 
      , { field: 'add_time', title: '下单时间', width: 170, sort: true, align: 'center' }
	  , { field: 'status', title: '支付状态', width: 100, sort: false, align: 'center',templet:function(res){
			console.log(res);
	 		if(res.status == '交易完成'){
	 			res.status = '<font color=green>'+res.status+'</font>';
	 		}
	 		else if(res.status == '交易关闭'){
	 			res.status = '<font color=gray>'+res.status+'</font>';
	 		}
	 		else if(res.status == '等待买家付款'){
	 			res.status =  "<a href='javascript:;' lay-event='goodsPay' class='layui-btn layui-bg-red layui-btn-sm' style='color:red'>待付款</a>"  ;
	 		}
			else if(res.status == '等待卖家发货'){
				res.status =  "<a href='javascript:;' uri='{url route='seller_order/shipped' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_shipped' ectype='dialog' dialog_width='400' dialog_title='待发货' dialog_id='seller_order_shipped' class='layui-btn layui-bg-cyan layui-btn-sm' style='color:blue'>待发货</a>"  ;
			}
			else if(res.status == '卖家已发货'){
				res.status =  "<a href='javascript:;' uri='{url route='buyer_order/confirm' }?order_id="+res.order_id+"' id='order"+res.order_id+"_action_shipped'  ectype='dialog' dialog_width='400' dialog_title='待发货' dialog_id='seller_order_shipped' class='layui-btn layui-bg-blue layui-btn-sm' style='color:blue'>待收货</a>"  ;
			}
	 		else if(res.refund_status == 'SUCCESS'){
	 			res.status = '<font color=red>退款成功</font>';
	 		}
	 		return res.status  ;
	  }}	  
	  , { field: 'payment_name', title: '方式', width: 90, sort: true, align: 'center' }
      , { field: 'pay_time', title: '付款时间', width: 170, sort: true, align: 'center' }
      , { field: 'finished_time', title: '完成时间', width: 170, sort: true, align: 'center' }
	/* , { fixed: 'right', title: '支付方式', width: 90, sort: false, align: 'center',templet:function(res){
	 		return res.payment_name  ;
	  }}*/
	, { fixed: 'right', title: '操作', toolbar: '#colBar', width: 155, align: 'center'}
	
      ]]
      , page: {
        theme: 'blue'
      }
    });
 
    //监听头工具栏事件
    table.on('toolbar(tablegrid)', function (obj) {
      var checkStatus = table.checkStatus(obj.config.id);
      if (checkStatus.data.length <= 0) {
        return false;
      }
      var items = new Array();
      $.each(checkStatus.data, function (i, item) {
        items.push(item.order_id);
      });

      if (obj.event === 'export') {
        window.location.href = url(['orderbyhh/export', $.extend($("#formSearch").serializeJson(), { id: items.join(',') })]);
      }
    });

    //监听行工具事件
    table.on('tool(tablegrid)', function (obj) {
      var data = obj.data;
      if(obj.event === 'printed'){
        window.open(url(['order_printed/lists', { order_id: data.order_id }]));
		}else if(obj.event === 'goodsPay'){
			  window.open(url(['cashier/index', { order_id: data.order_id }]));
	  }else if(obj.event === 'goodsView'){
		  window.open(url(['goods/index', { id: data.goods_id }]));
      }else if(obj.event === 'view'){
        window.open(url(['buyer_order/view', { order_id: data.order_id }]));
	  }else if(obj.event === 'viewContent'){
		  $('.content-box').text(data.content);
		  $('#p_content').show();
      }else if(obj.event === 'edit'){
           alert("功能暂未开通！")
      }else if(obj.event === 'del'){
           alert("功能暂未开通！")
      }else{

      }

    });
  });

  $(function () {
	$('.layui-icon-close').click(function(){
		$('#p_content').hide();
	})
    $('#add_time_from').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#add_time_to').datepicker({ dateFormat: 'yy-mm-dd' });
	$('.buyerSelect').change(function(){
		$(".classSelect option[value='real_name']").attr("selected", true);    //设置Select的Text值为"买家实名"的项选中 
		$('.infoTableInput').val($(this).find("option:selected").text());
	})
  });
</script>
<iframe id="iframe" name="iframe" src="about:blank" frameborder="0" width="0" height="0" style="display:none"></iframe>


<div class="layui-layer layui-layer-tips layui-table-tips" id="p_content" type="tips" times="1" showtime="-1" 
contype="object" style="z-index: 19891015; position: absolute; left: 650px;width:300px; top: 260px;display:none;">
	<div id="" class="layui-layer-content">
		<div class="layui-table-tips-main" style="margin-top: -48px;padding: 30px;">
			<p class="content-box"></p>
		</div>
		<i class="layui-icon layui-table-tips-c layui-icon-close"></i>
	</div>
	<span class="layui-layer-setwin"></span>
</div>
{include file="footer.byhh.html"}
