{include file="header.html"}
<div id="main" class="w-full">
  <div class="voucher_center w">
   
    <div class="list w">
      <ul class="clearfix">
        <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=1 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A001）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=1 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
         <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=2 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A002）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=2 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
         <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=3 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A003）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=3 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
         <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=4 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A004）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=4 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
        <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=5 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A005）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=5 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
        <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=6 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A006）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=6 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
        <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=7 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A007）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=7 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
        <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=8 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A008）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=8 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
        <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=9 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A009）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版花束通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf=9 order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
        <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=21 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#05d7a8;">开业WPS（B001）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版绿植花篮通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp" style=" background-image: -moz-linear-gradient(top, #05d7a8, #05d7a8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #05d7a8), color-stop(1, #f02353));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05d7a8', endColorstr='#05d7a8', GradientType='0');
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05d7a8', endColorstr='#05d7a8');
    background-image: linear-gradient(to bottom, #05d7a8 0, #05d7a8 100%);"><a href="{url route='/order_printed/view' ptf=21 order_id=$order_id}" > <span class="line"></span> <em class="text" >立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
        <li class="clearfix float-left">
          <div class="lp float-left"> <a href="{url route='/order_printed/view' ptf=22 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#05d7a8;">开业WPS（B002）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版绿植花篮通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp" style="background-image: -moz-linear-gradient(top, #05d7a8, #05d7a8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #05d7a8), color-stop(1, #f02353));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05d7a8', endColorstr='#05d7a8', GradientType='0');
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05d7a8', endColorstr='#05d7a8');
    background-image: linear-gradient(to bottom, #05d7a8 0, #05d7a8 100%);"><a href="{url route='/order_printed/view' ptf=22 order_id=$order_id}" > <span class="line"></span> <em class="text" >立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
        <li class="clearfix float-left">
          <div class="lp float-left"> 
            <a href="{url route='/order_printed/view' ptf=23 order_id=$order_id}" target="_blank"><img src="" /></a> </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#05d7a8;">开业WPS（B003）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:11.7*7.5</em></div>
          
            <div class="type mt10">卡片模版绿植花篮通用</div>
            <div class="count"><em class="f66 mr5">仅剩1件</em> <span><i title="4%" style="width:4%;"></i></span></div>
          </div>
          <div class="rp float-right">
            <div class="wp" style="background-image: -moz-linear-gradient(top, #05d7a8, #05d7a8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #05d7a8), color-stop(1, #f02353));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05d7a8', endColorstr='#05d7a8', GradientType='0');
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05d7a8', endColorstr='#05d7a8');
    background-image: linear-gradient(to bottom, #05d7a8 0, #05d7a8 100%);"><a href="{url route='/order_printed/view' ptf=23 order_id=$order_id}" > <span class="line"></span> <em class="text" >立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
      </ul>
      <div class="clearfix pb10 center">{include file="page.bottom.html"}</div>
    </div>
  </div>
</div> 
{include file="footer.html"}