  <link href="{res file='css/user.css'}" rel="stylesheet" type="text/css" />

<script type="text/javascript">
$(function(){
    $('#cancel_button').click(function(){
        DialogManager.close('{$dialog_id}');
    });
});
var d = "{$dialog_show }";
</script>
<div class="eject_con">
  <form  method="post" target="iframe" action="{url route='orderbyhh/cuser'}">

    <!--{if $dialog_show eq 'a-action'}-->
    <div class="content_line" style="width:100%;">
      <div class="list" style="">
        <ul class="clearfix">
                <!--{foreach from=$cardsA item=record key=key}-->

          <li class="clearfix float-left">
                <img src="/data/template/img/{$record.id}.png" style="width:220px;height:360px;margin-right:5px;"></li>
                  <!--{/foreach}-->
        </ul>
      </div>
    </div>
    <!--{/if}-->
    <!--{if $dialog_show eq 'b-action'}-->
    <div class="content_line" style="width:100%;padding:0;margin:0 auto;overflow: inherit;">
      <div class="list" style="">
		  <!--{if $cardsB }-->
		  <ul class="clearfix">
		          <!--{foreach from=$cardsB item=record key=key}-->
		    <li class="clearfix float-left">
		          <img src="/data/template/img/{$record.id}.png" style="width:220px;height:360px;margin-right:5px;"></li>
		            <!--{/foreach}-->
		  </ul>
		  <!--{else}-->
        <img src="/data/template/img/{$dialog_id}.png" style="width:100%;height:360;margin:0 auto;"/>
		 <!--{/if}-->
      </div>
    </div>
    <!--{/if}-->
  </form>
</div>

