{include file="header.html"}
<div id="main-box" class="w-full">
  <div class="voucher_center">
   
    <div class="list" style="width:1200px;margin:0 auto;">
      <ul class="clearfix">
		  <!--{foreach from=$cardsA item=record key=key}-->
        <li class="clearfix float-left">
          <div class="lp float-left"> 
            <a href="javascript:;" 
              uri="{url route='order_printed/iview'}" 
              dialog_width="700" 
              dialog_title="卡片模版预览" 
              dialog_data="iddd" 
              ectype="dialog"
              dialog_id="a{$key+1}" 
              id="iview-dailog"
              data-img="/static/images/template/a{$key+1}.png">
		          <img src="/static/images/template/a{$key+1}.png" /></a>
         </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#f23030;">花束WPS（A{$key+1}）</span></div>
            <br/>
            <div class="can"><em class="red">亲爱的!</em></div> <br/>
			<div class="can">喜迁新居喜洋洋，福星高照福满堂。</div>
            <div class="type mt10" style="float:right;">衣铭服饰  <b>赠</b></div>
          </div>
          <div class="rp float-right">
            <div class="wp"><a href="{url route='/order_printed/view' ptf={$key+1} order_id=$order_id}" > <span class="line"></span> <em class="text">立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
		<!--{/foreach}-->
		
          <!--{foreach from=$cardsB item=record key=key}-->

        <li class="clearfix float-left">
          <div class="lp float-left"> 

 <a href="javascript:;" 
              uri="{url route='order_printed/iview'}" 
              dialog_width="700" 
              dialog_title="卡片模版预览" 
              ectype="dialog"
              dialog_id="b{$key+1}" 
              id="iview-dailog"
              data-img="/static/images/template/b{$key+1}.png">
              <img src="/static/images/template/b{$key+1}.png" /></a>
          </div>
          <div class="mp float-left">
            <div class="value1"><span style="font-size:18px;color:#05d7a8;">开业WPS（B{$key+1}）</span></div>
            <br/>
            <div class="can"><em class="red">模版尺寸:A4</em></div>
          
            <div class="type mt10"><b>祝:</b>菲莉泓媛服饰</div>
            <div class="type mt10">开业大吉，财源广进</div>
            <div class="type mt10">衣铭服饰  <b>恭贺</b></div>
          </div>
          <div class="rp float-right">
            <div class="wp" style=" background-image: -moz-linear-gradient(top, #05d7a8, #05d7a8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #05d7a8), color-stop(1, #f02353));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05d7a8', endColorstr='#05d7a8', GradientType='0');
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#05d7a8', endColorstr='#05d7a8');
    background-image: linear-gradient(to bottom, #05d7a8 0, #05d7a8 100%);"><a href="{url route='/order_printed/view' ptf=(20+$key+1) order_id=$order_id}" > <span class="line"></span> <em class="text" >立即打印</em> </a> </div>
          </div>
          <div class="ins float-right"> <i class="i1"></i> <i class="i2"></i> </div>
        </li>
    <!--{/foreach}-->

      </ul>
      <div class="clearfix pb10 center">{include file="page.bottom.html"}</div>
    </div>
  </div>
</div> 
<div id="showDetail"><img src="" /></div>

<script>
$(function () {

  $('.show-detail-dailog').click(function(){
    $("#showDetail img").attr('src',$(this).data('img'))
  $("#showDetail").dialog({
        height:"500",
        width:"500",
         
        modal:false,//是否模式对话框
        draggable:true,//是否允许拖拽
        resizable:true,//是否允许缩放
        title:"图片预览",//对话框标题
        show:"slide",
        hide:"explode"
    });

  })

})
</script>
<iframe id="iframe" name="iframe" src="about:blank" frameborder="0" width="0" height="0" style="display:none"></iframe>
{include file="footer.html"}