	<link href="{res file='css/user.css'}" rel="stylesheet" type="text/css" />

<div class="eject_con">
  <div class="add">
    <div id="warning"></div>
    <form method="post" action="{$action}" id="address_form" target="iframe">
      <ul>
	  <li class="B_Con">
		<h3>状态选择:</h3>
		<p style="line-height: 24px;">
		  <select class="querySelect I_Con" name="status">
			<option value="">--选择状态--</option>
			{html_options options=$status selected=$smarty.get.field}
		  </select>
		</p>
		 <div class="I_Consignee_list"></div>
	  </li>
      </ul>
      <div class="submit">
		<input type="hidden" name="id" value="{$oInfo.id}" />
      	<input type="hidden" name="redirect" value="{$redirect}" />
		<input type="hidden" name="from" value="{$from}" />
        <input type="submit" class="btn" value="{$lang.submit}" />
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  var defaultUser = "{$defaultUser['real_name']}";
$(function(){
    regionInit("region");
    $('.default-user').click(function(){
        $('.subscriber').val($(this).val())
    })
	$('.B_Con .I_Con').change(function(){
		return;
		$.getJSON("{url route='orderbyhh/search'}", { 'keyword' : $('.I_Con').val(),'from':'buyerform'}, function(data) {
			html = '';
			if(data.code == 0 && data.count>0) {
				$.each(data.data,function(i, item){
					html += '<li style="width:538px;padding: 10px 0 0;color:#FF8800;">[搜索结果]('+(i+1)+'):&nbsp;&nbsp;&nbsp;&nbsp;  <span>用户ID='+item.userid+'&nbsp;&nbsp;&nbsp;&nbsp; 用户名='+item.real_name+'</span></li>';
				});
				$('.I_Consignee_list').html("<ul style='width:538px;'>"+html+"</ul>");
			}else{
				$('.I_Consignee_list').html(""); 
			}
		});
	}); 
});
</script>